{% extends 'layout.html' %}
{% block content %}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-table" placeholder="Type here to filter...">
</div>
<table class='ui compact basic table inventory'>
  <thead>
    <tr>
      {% for description in fact_desc %}
      <th>{{description}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="searchable">
    {% for nodename in nodedata %}
    <tr>
 
      {% for item in nodedata[nodename] %}
        {% if item.startswith('http://') or item.startswith('https:') %}
          <td><a href="{{item}}"><i class='large darkblue archive icon'></i</a></td>
        {% elif item=='undef' %}
          <td><i class="large ban circle icon"></i></td>
        {% else %}
          <td>{{item}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
